body.en {
  #pickDeviceColor .options label:first-of-type {
    margin-left: 0;
    margin-right: 50px;
  }
  #preOrderTheDeviceSection .submitColorDeviceBtn img,
  #preOrderTheDeviceSection .submitUserDataBtn img {
    margin-right: 0;
    margin-left: 16px;
    transform: rotate(180deg);
  }
  .FAQs ul li .question .arrow-icon {
    transform: rotate(-90deg);
  }
  #userInfoForm .form-group {
    padding-right: 24px;
    padding-left: 0;
    small {
      right: auto;
      left: 0;
    }
  }
  .modal .content .modal-body {
    padding-left: 0;
    padding-right: 10px;
  }
}
