.hero-banner {
  background-color: $mainColor;
  color: #fff;
  position: relative;
  .mobile-banner {
    display: none;
  }
  .content {
    padding: 40px 0;
    h5 {
      color: #f3f3f1;
      opacity: 0.6;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 16px;
    }
    h1 {
      font-size: 44px;
      font-weight: 600;
      line-height: 46px;
      margin-bottom: 24px;
    }
    p {
      font-size: 20px;
      line-height: 38px;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero-banner {
    .desktop-banner {
      max-width: 380px;
    }
    .content {
      h1 {
        font-size: 38px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .hero-banner .main-container .desktop-banner {
    max-width: 350px;
  }
}
@media screen and (max-width: 780px) {
  .hero-banner .main-container {
    flex-direction: column;
    align-items: center;
    .desktop-banner {
      display: none;
    }
    .mobile-banner {
      display: block;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 460px) {
  .hero-banner .main-container {
    .content {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
