.main-form {
  padding: 100px 0 60px;
  .main-container {
    background-color: #f3f3f1;
    padding-left: 0;
    border-radius: 8px;
  }
  form {
    width: calc(100% - 400px);
    padding: 40px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      font-weight: 500;
      margin-bottom: 40px;
      color: #1d252d;
      font-size: 24px;
      display: block;
      width: 100%;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      margin-bottom: 30px;
      width: 50%;
      label {
        margin-bottom: 8px;
      }
      input {
        height: 46px;
        border: 1px solid #ccc;
        padding: 5px 12px;
        border-radius: 2px;
        transition: all 0.2s ease-in-out;
        &:focus {
          border: 1px solid $S_color;
        }
      }
    }
    .accept-terms {
      padding: 40px 0 50px;
      border-top: 1px solid rgba(142, 154, 160, 0.3);
      input {
        margin-left: 10px;
      }
      a {
        color: $S_color;
        text-decoration: underline;
      }
    }
  }
  .phone-info {
    width: 400px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 2px 8px 22px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    .content {
      padding: 50px 30px 0;
    }
    img {
      margin-bottom: 40px;
    }
    p {
      color: #8e9aa0;
    }
    h4,
    .price {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 4px;
      span {
        color: $S_color;
        font-size: 24px;
      }
    }
    .phone-name {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 30px;
    }
    .features {
      margin-bottom: 30px;
    }
    button {
      width: 100%;
      padding: 22px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a8abae;
      color: #fff;
      font-size: 18px;
      margin-top: 40px;
      cursor: pointer;
    }
  }
}
