#pickDeviceColor {
  h5 {
    font-size: 20px;
    font-weight: 500;
    min-width: 120px;
  }
  .options {
    display: flex;
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      &:first-of-type {
        margin-left: 80px;
      }
      .color-spot {
        position: relative;
        b {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 10px;
        }
        span {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: relative;
        }
      }
      input[type='radio'] {
        display: none;
      }
      input:checked + .color-spot span::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        opacity: 0;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        border-radius: 50%;
        border: 2px solid $S_color;
        animation: scaleUp 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
      }
      @keyframes scaleUp {
        to {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
      input:checked + .color-spot b {
        color: $S_color;
      }
    }
    small {
      margin-top: 14px;
      font-size: 15px;
      span {
        color: $S_color;
      }
    }
  }
  .outline-option {
    padding: 12px 32px;
    border: 2px solid $S_color;
    text-align: center;
    line-height: 24px;
    color: $S_color;
    font-weight: 500;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.12);
    white-space: nowrap;
  }
  ul {
    padding-right: 20px;
    padding-left: 20px;
    li {
      display: flex;
      padding-top: 50px;
      padding-bottom: 50px;
      align-items: center;
      border-bottom: 1px solid rgba(142, 154, 160, 0.3);
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
  .gifts {
    display: flex;
    align-items: center;
    margin-left: 15px;
    > div {
      width: 60px;
      height: 60px;
      background-color: #fff;
      border-radius: 3px;
      overflow: hidden;
      padding: 4px;
      margin: 0 4px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
